        <footer class="bg-dark footer-container">
            <div class="streched-footer">
                <p>© 2019 RateMate, All right reserved</p>
                <div class="icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </footer>        
        
        <!-- Scripts -->
        <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
    </body>
</html>
