<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RateMate</title>

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/site.css">

        <!-- Form specific css-->
        <link rel="stylesheet" href="/assets/css/form.css">
        <link rel="stylesheet" href="/assets/css/admin.css">

        <link rel="stylesheet" href="/assets/css/movie.css">
        <link rel="stylesheet" href="/assets/css/movies.css">
        <link rel="stylesheet" href="/assets/css/profile.css">

        <!-- It would be too much to download these with the images...-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
                integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!-- Form specific css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    </head>
    
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <a class="navbar-brand" href="#">
                    RateMate
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" 
                        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home </a>
                        </li>
                        <% if(typeof user == 'undefined') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log in</a>
                        </li>
                        <% } %>
                        <% if(typeof user != 'undefined') { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/movies">Movies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Log out</a>
                            </li>
                        <% } %>

                        <% if(typeof user != 'undefined' && user.isAdmin) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                        <% } %>
                            
                    </ul>
                </div>
            </nav>
        </header>