<% include header %>
        
        <section class="index-section">
            <div class="text-container">
                <h1>Hey there!</h1>
                <br><br>
                <h5>
                Have you ever wanted to be a part of an active movie addict community? Here you can check other peoples' opinion about your 
                favourites or decide if a new one is yay or nay.
                </h5>
            </div>
        </section>
        
<% include footer %>
